@model IEnumerable<SportsHall.Web.ViewModels.TrainingsViewModel>

<div class="container mt-5">
    <h2 class="text-center">All Trainings</h2>
    <table class="table table-bordered table-hover mt-3">
        <thead>
            <tr>
                <th>Sport</th>
                <th>Coach</th>
                <th>Status</th>
                <th>Starting Time</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Available Spots</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var training in Model)
            {
                <tr>
                    <td>@training.SportName</td>
                    <td>@training.CoachName</td>
                    <td>@training.TrainingStatus</td>
                    <td>@training.Start.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@training.Duration min</td>
                    <td>@training.Location</td>
                    <td>@training.AvailableSpot</td>
                    <td>
                        <form asp-controller="Reservation" asp-action="SignUp" asp-route-trainingId="@training.Id" method="post">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </form>
                    </td>
                    <td>
                        <a asp-controller="Training" asp-action="Edit" asp-route-id="@training.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <form asp-controller="Training" asp-action="Delete" asp-route-id="@training.Id" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
